<!DOCTYPE html>
<html lang="en">
<head>
 <% include partial/head %> 
</head>
<body>
<% include partial/menu %>
<div class="container">    
  <h3><%= page %></h3><br>
  


  
<% if(typeof successMsg != 'undefined' && successMsg!="") { %>
<div class="alert alert-success"><%- successMsg %></div>
<% }%>
<% if(typeof errorMsg != 'undefined' && errorMsg!="") { %>
<div class="alert alert-danger"><%- errorMsg %></div>
<% }%>
  

      <form action="/login" method="POST">

    
    
 
   <div class="row">
      <div class="col-sm-8">
      <!-- E-mail -->
      <label for="email">E-mail</label>
     
        <input type="text" id="email" name="email" placeholder="Please enter email Id." class="form-control">
       <% if ( error.hasOwnProperty('email') ) { %>
        <span class="error"> <%= error.email.msg %> </span>
        <% } %>
      </div>
    </div>
 
    <div class="row">
      <div class="col-sm-8">
      <!-- Password-->
      <label for="password">Password</label>
      
        <input type="password" id="password" name="password" placeholder="Please enter password." class="form-control">
         <% if ( error.hasOwnProperty('password') ) { %>
        <span class="error"> <%= error.password.msg %> </span>
        <% } %>
      </div>
    </div>
 
   
 <br/>
    <div class="row">
      <div class="col-sm-8">
      <!-- Button -->
     
        <button class="btn btn-success">Login</button>
      </div>
    </div>

</form>
</div>
</body>
<% include partial/script %>
<% include partial/footer %>
</html>